services:
  rabbitmq:
    image: rabbitmq:4.1.1-management-alpine
    ports:
      - "127.0.0.1:15672:15672" # Порт для веб-интерфейса RabbitMQ Management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-guest}
    healthcheck: # Проверка готовности RabbitMQ
      test: [ "CMD", "rabbitmq-diagnostics", "check_port_connectivity" ]
      interval: 10s
      timeout: 5s
      retries: 5
  api_gateway_service:
    build: ./api_gateway_service 
    ports:
      - "127.0.0.1:8000:8000" # Клиент будет обращаться к шлюзу по этому порту
    environment:
      POSTS_SERVICE_URL: ${POSTS_SERVICE_URL} # Внутренний URL Posts Service
      CATEGORIES_SERVICE_URL: ${CATEGORIES_SERVICE_URL} # Внутренний URL Categories Service
    depends_on:
      posts_service:
        condition: service_started # Gateway зависит от Posts Service
      categories_service:
        condition: service_started # Gateway зависит от Categories Service
    restart: on-failure 
  posts_service:
    build: ./posts_service
    environment:
      DATABASE_URL: ${POSTS_DB_URL}
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672/
    volumes:
      - posts_db_data:/app/data
    depends_on:
      categories_service:
        condition: service_started # Posts Service зависит от Categories Service для валидации
      rabbitmq:
        condition: service_healthy # Posts Service зависит от проверки готовности RABBITMQ

  categories_service:
    build: ./categories_service
    environment:
      DATABASE_URL: ${CATEGORIES_DB_URL} # Отдельная БД для категорий
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672/
    volumes:
      - categories_db_data:/app/data
    depends_on:
      rabbitmq:
        condition: service_healthy # Categories Service зависит от проверки готовности RABBITMQ


volumes:
  posts_db_data:
  categories_db_data: